{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 */
#}

<!-- check to see if we're using the development version of Vue3 or not -->
{% if Vue3Dev %}
  {{attach_library('ucb2019_base/ucb-vue3-dev')}}
{% else %}
  {{attach_library('ucb2019_base/ucb-vue3')}}
{% endif %}

{{attach_library('ucb2019_base/ucb-vue-component-lib')}}

<article{{ attributes }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
    {{ content }}
    <div class="vue-root"
    id="vue-root-{{app_id}}"
    data-wc-name="{{wc_name}}"
    data-id="{{json_api_id}}"
    data-app-id="{{app_id}}"
    data-api-endpoint="{{api_endpoint}}"
    </div>
  {% endif %}
</article>