{#
/**
 * Theme layout to display a UCB External Content Page.
 *
 * Created by jsparks on 6/18/19
 */
#}

{{ attach_library('ucb2019_base/ucb-external-content') }}

{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{#Dummy variable to ensure that all content tags are set for caching purposes#}
{% set content_render = content|render %}

<article{{ attributes.addClass(classes) }}>
    <div class="container">

        <div id="vue-app" class="">
            <ucb-howto dataurl="{{ content.field_ucb_external_content|render|striptags|trim }}" inline-template>
                <div class="ucb-component">
                    <div class="ucb-error-check" v-if="error">
                        <h4 class=ucb-vue-error>{{ error }} </h4>
                    </div>
                    <div class="ucb-vue-component" v-else>
                        <div v-for="howto in posts">
                            <div class="ucb-how-to ucb-panel" v-show="howto.attributes.title">
                                <div class="ucb-howto-title" v-html="howto.attributes.title"></div>
                                <div class="ucb-howto-description" v-html="howto.attributes.body.value"></div>
                                <ol class="ucb-howto-instructions">
                                    <li v-for="instruction in howto.attributes.field_ucb_howto_instructions" v-html="instruction.value">
                                    </li>
                                </ol>
                                <div class="ucb-howto-contact">Need additional assistance : <a :href="`mailto:${howto.attributes.field_ucb_howto_contact}`" >{{ howto.attributes.field_ucb_howto_contact }}</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ucb-howto>
        </div>

    </div>
</article>