{#
/**
 * Theme layout to display a UCB Organization Page.
 *
 * Created by jsparks on 7/8/19
 */
#}

{{ attach_library('ucb2019_base/ucb-organization-page') }}

{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{#Dummy variable to ensure that all content tags are set for caching purposes#}
{% set content_render = content|render %}

<article{{attributes.addClass(classes)}}>
    <div class="ucb-org-organization-container container">
        <div class="ucb-org-header row">
            <div class="ucb-org-header col">
                {# check to see if there's is a parent or ancestor org and display that info here#}
                {% if content.field_ucb_org_ancestor_org|render %}
                    <h4>{{ content.field_ucb_org_ancestor_org }}</h4>
                {% endif %}
                {% if content.field_ucb_org_parent_org|render %}
                    <h4>{{ content.field_ucb_org_parent_org }}</h4>
                {% endif %}
                {% if content.field_ucb_org_related_org|render %}
                    <h4>{{ content.field_ucb_org_related_org }}</h4>
                {% endif %}
            </div>
        </div>
        <div class="ucb-org-content-row row">
            <section class="ucb-org-content-section col-md-8">
                {% if content.field_ucb_org_description %}
                    <div class="ucb-org-description">
                        {{ content.field_ucb_org_description|render }}
                    </div>
                {% endif %}

                <div class="ucb-org-contact-info">
                    <h2>Contact Information</h2>
                    <ul class="ucb-org-contact-buttons-list">
                        {% if content.field_ucb_org_telephone|render %}
                            <li>{{ content.field_ucb_org_telephone }}</li>
                        {% endif %}
                        {% if content.field_ucb_org_fax_number|render %}
                            <li>{{ content.field_ucb_org_fax_number }}</li>
                        {% endif %}
                        {% if content.field_ucb_org_email|render %}
                            <li>{{ content.field_ucb_org_email }}</li>
                        {% endif %}
                        {% if content.field_ucb_org_website_url|render %}
                            <li>{{ content.field_ucb_org_website_url }}</li>
                        {% endif %}
                        {% if content.field_ucb_org_directory_url|render %}
                            <li>{{ content.field_ucb_org_directory_url }}</li>
                        {% endif %}
                    </ul>
                </div>

                {% if content.field_ucb_org_social_contact %}
                    <div class="ucb-org-social-div">
                        <h2>Social</h2>
                        <ul class="ucb-org-social-list">
                            {{ content.field_ucb_org_social_contact }}
                        </ul>
                    </div>
                {% endif %}


            </section>
            <section class="ucb-org-address-section col-md-4">
                {% if content.field_ucb_org_id_campus_map|render %}
                    {% set mapURL = "https://www.colorado.edu/map/?id=336#!m/" ~ content.field_ucb_org_id_campus_map|render|striptags|trim %}
                    <div class="ucb-org-map-embed">
                        <a href="{{ mapURL }}" style="display:block; width:100%; height:300px; background-image:url(https://staticmap.concept3d.com/map/static-map/?map=336&loc={{ content.field_ucb_org_id_campus_map|render|striptags|trim }});">
                    <span class="embed-map-label">
                        View location on the Campus Map
                    </span>
                        </a>
                    </div>
                {% endif %}
                <div class="ucb-org-address-details">
                    <ul class="ucb-org-address-list">
                        {% if content.field_ucb_org_campus_mail_box|render %}
                            <li>{{ content.field_ucb_org_campus_mail_box|render|striptags|trim }}</li>
                        {% endif %}
                        {% if content.field_ucb_org_street_address|render %}
                            <li>{{ content.field_ucb_org_street_address|render|striptags|trim }}</li>
                        {% endif %}
                        {% if content.field_ucb_org_address_locality|render %}
                            <li>{{ content.field_ucb_org_address_locality|render|striptags|trim }}</li>
                        {% endif %}
                        {% if content.field_ucb_org_address_region|render %}
                            <li>{{ content.field_ucb_org_address_region|render|striptags|trim }}</li>
                        {% endif %}
                        {% if content.field_ucb_org_postal_code|render %}
                            <li>{{ content.field_ucb_org_postal_code|render|striptags|trim }}</li>
                        {% endif %}
                        {% if content.field_ucb_org_adress_country|render %}
                            <li>{{ content.field_ucb_org_adress_country|render|striptags|trim }}</li>
                        {% endif %}
                        {% if content.field_ucb_org_location_desc|render %}
                            <li>{{ content.field_ucb_org_location_desc|render|striptags|trim }}</li>
                        {% endif %}
                    </ul>
                </div>
            </section>
        </div>
    </div>

</article>

