{#
/**
 * Theme layout to display a UCB Guild Content Row -- Paragraph.
 *
 * Created by jsparks on 09/04/2019
 */
#}

{% set dataLink = content.field_ucb_guide_row_link_title|render|striptags|trim %}
{% if dataLink == '' %}
  {% set dataLink = content.field_ucb_guide_row_title|render|striptags|trim %}
{% endif %}

<div id="{{ dataLink|clean_id }}" class="ucb-guide-content-row row" data-link="{{ dataLink }}" {{ attributes }}>
  <div class="ucb-guide-content-details col-md-12 col-lg">
    <h2>{{ content.field_ucb_guide_row_title|render }}</h2>
    <div class="ucb-guide-content-detail-body">
      {{ content.field_ucb_guide_row_body|render }}
    </div>
  </div>
  <div class="ucb-guide-content-links col-md-12 col-lg">
    <ul class="ucb-guide-links-list">
      {{ content.field_ucb_guide_row_links|render }}
    </ul>
  </div>
</div>

