{#
/**
 * Theme layout to display a UCB Organization Social Contact field.
 *
 * Created by jsparks on 7/8/19
 */
#}

{% for item in items %}

    {% set socialLink = item.content|render|striptags|trim %}


    <li class="ucb-org-social-link">
        {% if 'FACEBOOK' in socialLink|upper %}
            <a href="{{ socialLink }}" class="ucb-social-link ucb-facebook-link" title="FaceBook">
                <span class="sr-only">Boulder FaceBook</span>
                <i class="fab fa-2x fa-facebook-f"></i>
            </a>

        {% elseif 'TWITTER' in socialLink|upper %}
            <a href="{{ socialLink }}" class="ucb-social-link ucb-twitter-link" title="Twitter">
                <span class="sr-only">Boulder Twitter</span>
                <i class="fab fa-2x fa-twitter"></i>
            </a>

        {% elseif 'FLICKR' in socialLink|upper %}
            <a href="{{ socialLink }}" class="ucb-social-link ucb-flickr-link" title="Flickr">
                <span class="sr-only">Boulder Flickr</span>
                <i class="fab fa-2x fa-flickr"></i>
            </a>

        {% elseif 'LINKEDIN' in socialLink|upper %}
            <a href="{{ socialLink }}" class="ucb-social-link ucb-linkedin-link" title="LinkedIn">
                <span class="sr-only">Boulder LinkedIn</span>
                <i class="fab fa-2x fa-linkedin"></i>
            </a>

        {% elseif 'YOUTUBE' in socialLink|upper %}
            <a href="{{ socialLink }}" class="ucb-social-link ucb-youtube-link" title="YouTube">
                <span class="sr-only">Boulder YouTube</span>
                <i class="fab fa-2x fa-youtube"></i>
            </a>
        {% elseif 'INSTAGRAM' in socialLink|upper %}
            <a href="{{ socialLink }}" class="ucb-social-link ucb-instagram-link" title="Instagram">
                <span class="sr-only">Instagram</span>
                <i class="fab fa-2x fa-instagram"></i>
            </a>
        {% elseif 'EVENTS' in socialLink|upper or 'CALENDAR' in socialLink|upper %}
            <a href="{{ socialLink }}" class="ucb-social-link ucb-calendar-link" title="Events">
                <span class="sr-only">Events</span>
                <i class="far fa-2x fa-calendar-alt"></i>
            </a>


        {%  else %}
            <a href="{{ socialLink }}" class="ucb-social-link ucb-social-link" title="Social Media">
                <span class="sr-only">Boulder Social Media</span>
                <i class="fas fa-2x fa-user-friends"></i>
            </a>
        {% endif %}

        {#{{ link(socialLink, socialLink) }}#}
    </li>
{% endfor %}
